*.o
*.swp

hide
*build/*
lib/*
bin/samurai
*.tar.bz2
xcode/*
*.xcodeproj/*
*.app/*
.svn
.DS_Store
profile
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
Makefile
Info.plist
install_manifest.txt
doit
mypath
proposal
runcmake
src/a.out.dSYM
src/hide
src/proposal
src/vars.txt
t.cc
test
tryit*
doc/flow.txt
debug
make.log.debug
example
CMakeLists.txt.lrose.mbell
CMakeLists.txt.works
